@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
}

:root {
    --hero-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --logo-text-color: #F9FAF8;
    --info-text-color: #1F2937;
    --quote-text-color: #1F2937;
    --button-color: #3882F6;
    --hero-n-footer-color: #1F2937;
    --quote-section-bg-color: #E5E7EB;
}

.header {
    background: var(--hero-n-footer-color);
    /* border-bottom: 1px solid #ddd; */
    /* box-shadow: 0 0 8px rgba(0,0,0,.1); */
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}